<link rel="stylesheet" href="css/main.css" type="text/css" />
<%= "<script src=\"/#{@js}\"></script>" if @js %>
<html>
  <div id="carousel">
    <% @objects.each do |t| %>
        <% if t == @objects.first %>
          <img class="item show" src="<%= t['url']  %>" alt="<%= t['name']  %>"/>
        <% else %>
          <img class="item" src="<%= t['url']  %>" alt="<%= t['name']  %>"/>
        <% end %>
    <% end %>
  </div>
  <script>
    var items = document.querySelectorAll('#carousel .item');
  </script>
</html>